body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.bck-img {
    background-image: linear-gradient(rgb(107, 83, 4, 0.6) 100%,
            rgba(107, 83, 4, 0.6) 100%),
        url("../pictures/background.jpg");

    background-color: rgb(34, 34, 34);
    background-size: cover;
    background-position: center;
    max-width: 2560px;
    height: 1920px;
    margin: 0 auto;

}