body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.bck-img {
    background-image: linear-gradient(rgb(107, 83, 4, 0.6) 100%,
            rgba(107, 83, 4, 0.6) 100%),
        url("../pictures/background.jpg");

    background-color: rgb(34, 34, 34);
    background-size: cover;
    background-position: center;
    max-width: 2560px;
    height: 1900px;
    margin: 0 auto;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.nav>a {
    margin-right: 40px;
    color: white;
    transition: all 150ms ease-in-out;
}

.nav>a:last-child {
    margin-right: 0px;
    color: white;
}

.nav>a:hover {
    color: rgb(179, 179, 179);
}

.logo {
    color: white;
    transition: all 150ms ease-in-out;
}

.logo:hover {
    color: rgb(179, 179, 179);
}

.header-background {
    backdrop-filter: blur(6px);
    height: 80px;
}

@media screen and(max-width: 767px) {

    .header,
    .header-background {
        display: none;
    }

}

/*mob version*/
.mob-open,
.mob-close {
    width: 30px;
    height: 30px;
}

.mob-open {
    position: fixed;
    right: 30px;
    top: 15px;
}

.mob-list {
    height: 100%;
    width: 35%;
    position: fixed;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    background-color: #2d2d2d;
}

.mob-list__item {
    color: white;
}

.mob-list__item:first-child {
    margin-bottom: 40px;
}

.mob-close {
    position: fixed;
    right: 30px;
    top: 15px;
    z-index: 5;
}